**Lecture list**

1. Introduction to Python

2. The Python Standard Library, if/loops statements

3. Vector/matrix structures, `numpy` library

4. Python data types, File Processing, `Pandas` library

5. **Functions in Python, Debugging.**

    * Lambda function.
    * Recursion.
    * Common errors in Python.

6. Introduction to R, R for Python programmers.

7. Import data, plot data.

8. Data Mining in Python/R.

# Lambda function

## Syntax of Lambda Function

In Python, anonymous function (lambda function) is a function that is defined without a name.

While normal functions are defined using the **def** keyword, in Python anonymous functions are defined using the **lambda** keyword. Hence, anonymous functions are also called lambda functions.

Syntax:

```python
lambda arguments: expression
```

Example: 

```python
>>> S = lambda a, b: a + b
>>> S(5, 7)
    12
```

```python
>>> double = lambda x: x * 2
>>> double(5)
    10
```

Lambda functions can have any number of arguments but only one expression. The expression is evaluated and returned. Lambda functions can be used wherever function objects are required.


In the above program, **lambda x: x * 2** is the `lambda function`. Here **x** is the argument and **x * 2** is the expression that gets evaluated and returned.

This function has no name. It returns a function object which is assigned to the identifier **double**. We can now call it as a normal function. The statement

```python
double = lambda x: x * 2
```

is nearly the same as

```python
def double(x):
    return x * 2
```

## Use of Lambda Function

We use lambda functions when we require a nameless function for a short period of time.

In Python, we generally use it as an argument to a higher-order function (a function that takes in other functions as [arguments](https://www.programiz.com/python-programming/function-argument)). Lambda functions are used along with built-in functions like `filter()`, `map()` etc.

**Example use with filter()**

The **filter()** function in Python takes in a function and a list as arguments.

The function is called with all the items in the list and a new list is returned which contains items for which the function evaluats to `True`.

Here is an example use of filter() function to filter out only even numbers from a list.


```python
>>> def is_odd(x):
>>>     return x % 2 == 0
>>>
>>> my_list = [1, 5, 4, 6, 8, 11, 3, 12]
>>> new_list = list(filter(is_odd, my_list))
    [4, 6, 8, 12]
```

Instead, we can use lambda function:

```python
>>> my_list = [1, 5, 4, 6, 8, 11, 3, 12]
>>> new_list = list(filter(lambda x: x % 2 == 0, my_list))
    [4, 6, 8, 12]
```

**Example use with map()**

The **map()** function in Python takes in a function and a list.

The function is called with all the items in the list and a new list is returned which contains items returned by that function for each item.

Here is an example use of **map()** function to double all the items in a list.

```python
>>> my_list = [1, 5, 4, 6, 8, 11, 3, 12]
>>> new_list = list(map(lambda x: x ** 2 , my_list))
    [1, 25, 16, 36, 64, 121, 9, 144]
```

**Example use with Pandas DataFrames**

For example, we have the dataframe:

In [10]:
import pandas as pd
from StringIO import StringIO

df = pd.read_csv(StringIO("col1,col2,col3\na,b,1\na,b,2\nc,d,3"))
df

  col1 col2  col3
0    a    b     1
1    a    b     2
2    c    d     3

Now, we'll start new **col3_double** from **col3** by apply the double function.

In [12]:
def double(x):
    return x * 2

df['col3_double'] = df.col3.apply(double)
df

  col1 col2  col3  col3_double
0    a    b     1            2
1    a    b     2            4
2    c    d     3            6

More quickly with **lambda function** here:

In [14]:
df['col3_double'] = df.col3.apply(lambda x: x * 2)
df

  col1 col2  col3  col3_double
0    a    b     1            2
1    a    b     2            4
2    c    d     3            6

In [18]:
df.col3.map(lambda t: t > 2)

0    False
1    False
2     True
Name: col3, dtype: bool

# Python Recursion

Recursion is the process of defining something in terms of itself.

We know that in Python, a function can call other functions. It is even possible for the function to call itself. These type of construct are termed as recursive functions.

Following is an example of recursive function to find the factorial of an integer.

Factorial of a number is the product of all the integers from 1 to that number. For example, the factorial of 6 (denoted as 6!) is `1*2*3*4*5*6 = 720`.

In [20]:
def calc_factorial(x):
    """This is a recursive function
    to find the factorial of an integer"""

    if x == 1:
        return 1
    else:
        return (x * calc_factorial(x-1))

num = 4
print "The factorial of", num, "is", calc_factorial(num)

The factorial of 4 is 24

In the above example, **calc_factorial()** is a recursive functions as it calls itself.

When we call this function with a positive integer, it will recursively call itself by decreasing the number.

Each function call multiples the number with the factorial of number 1 until the number is equal to one. This recursive call can be explained in the following steps.

```python
calc_factorial(4)              # 1st call with 4
4 * calc_factorial(3)          # 2nd call with 3
4 * 3 * calc_factorial(2)      # 3rd call with 2
4 * 3 * 2 * calc_factorial(1)  # 4th call with 1
4 * 3 * 2 * 1                  # return from 4th call as number=1
4 * 3 * 2                      # return from 3rd call
4 * 6                          # return from 2nd call
24                             # return from 1st call
```

Our recursion ends when the number reduces to 1. This is called the base condition.

Every recursive function must have a base condition that stops the recursion or else the function calls itself infinitely.



* Advantages of recursion
    * Recursive functions make the code look clean and elegant.
    * A complex task can be broken down into simpler sub-problems using recursion.
    * Sequence generation is easier with recursion than using some nested iteration.
* Disadvantages of recursion
    * Sometimes the logic behind recursion is hard to follow through.
    * Recursive calls are expensive (inefficient) as they take up a lot of memory and time.
    * Recursive functions are hard to debug.

**Ex1:** Python Program to Display Fibonacci Sequence Using Recursion

A Fibonacci sequence is the integer sequence of 0, 1, 1, 2, 3, 5, 8....

```python
def fibo_recursion(n):
    # your code goes here

for i in range(10):
    print fibo(i), 

# Output: 0 1 1 2 3 5 8 13 21 34
```



**Ex2:** Find Sum of Natural Numbers Using Recursion

```python
def sum_recursion(n):
    # your code goes here
    
print sum_recursion(10) # Sum of 1 + 2 + 3 + ... + 10

# Output: 55
```