# Getting and knowing your Data

* Step 1. Go to [https://github.com/duyetdev/JVN-Basic-Python-R-Training](https://github.com/duyetdev/JVN-Basic-Python-R-Training)
* Step 2. Download the dataset `open_food_facts.csv` to your computer.
* Step 3. Use the csv file and assign it to a dataframe called **df**

In [1]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv("dataset/open_food_facts.csv")

In [10]:
df.head()

,code,url,creator,created_t,created_datetime,last_modified_t,last_modified_datetime,product_name,generic_name,quantity,...,ph_100g,fruits-vegetables-nuts_100g,collagen-meat-protein-ratio_100g,cocoa_100g,chlorophyl_100g,carbon-footprint_100g,nutrition-score-fr_100g,nutrition-score-uk_100g,glycemic-index_100g,water-hardness_100g
0,3087,http://world-en.openfoodfacts.org/product/0000...,openfoodfacts-contributors,1474103866,2016-09-17T09:17:46Z,1474103893,2016-09-17T09:18:13Z,Farine de blé noir,NaN,1kg,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4530,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489069957,2017-03-09T14:32:37Z,1489069957,2017-03-09T14:32:37Z,Banana Chips Sweetened (Whole),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,14.0,14.0,NaN,NaN
2,4559,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489069957,2017-03-09T14:32:37Z,1489069957,2017-03-09T14:32:37Z,Peanuts,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
3,16087,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489055731,2017-03-09T10:35:31Z,1489055731,2017-03-09T10:35:31Z,Organic Salted Nut Mix,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,12.0,NaN,NaN
4,16094,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489055653,2017-03-09T10:34:13Z,1489055653,2017-03-09T10:34:13Z,Organic Polenta,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## See the last 4 entries

In [14]:
# Just example
df.tail(4)

,code,url,creator,created_t,created_datetime,last_modified_t,last_modified_datetime,product_name,generic_name,quantity,...,ph_100g,fruits-vegetables-nuts_100g,collagen-meat-protein-ratio_100g,cocoa_100g,chlorophyl_100g,carbon-footprint_100g,nutrition-score-fr_100g,nutrition-score-uk_100g,glycemic-index_100g,water-hardness_100g
9995,11822446174,http://world-en.openfoodfacts.org/product/0011...,usda-ndb-import,1489071874,2017-03-09T15:04:34Z,1489071874,2017-03-09T15:04:34Z,Vanilla Caramels Sweet & Chewy Candy,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,18.0,18.0,NaN,NaN
9996,11822446181,http://world-en.openfoodfacts.org/product/0011...,usda-ndb-import,1489071874,2017-03-09T15:04:34Z,1489071875,2017-03-09T15:04:35Z,Jelly Beans,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,14.0,14.0,NaN,NaN
9997,11822514231,http://world-en.openfoodfacts.org/product/0011...,usda-ndb-import,1489070194,2017-03-09T14:36:34Z,1489070194,2017-03-09T14:36:34Z,"Simplify, Diet Cola",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9998,11822514248,http://world-en.openfoodfacts.org/product/0011...,usda-ndb-import,1489070198,2017-03-09T14:36:38Z,1489070198,2017-03-09T14:36:38Z,"Simplify, Mountain Citrus, Soda, Citrus",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## What is the number of columns in the dataset?

In [ ]:
# your code goes here

## Print the name of all the columns.

In [15]:
# your code goes here

## What is the name of 99th column?

In [16]:
# your code goes here

## Summarize the DataFrame.

In [34]:
# your code goes here

## How is the dataset indexed?

In [27]:
# your code goes here

## How many [creator] in dataset

In [26]:
# your code goes here

## What was the most product item in the product_name column?

In [25]:
# your code goes here

## How many product_name were in total?

In [24]:
# your code goes here

## What was the most brand item in the [brands] column?

In [32]:
# your code goes here

# Hint: Top 4 brands
df.brands.value_counts()[:4]

Kroger                     1594
Roundy's                   1279
Spartan                    1209
Kroger,  The Kroger Co.     307
Name: brands, dtype: int64

## How many different countries in [countries_en] column?

In [29]:
# your code goes here

## What product with most [energy-from-fat_100g]?

In [33]:
# your code goes here

## Sort by the name of the product

In [35]:
# your code goes here


----------------

Reload **df** with new **chipotle.tsv** file.

In [37]:
df = pd.read_csv("dataset/chipotle.tsv", sep="\t")
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

## Show the price of each item

In [38]:
# your code goes here

## How many times were a "Nantucket Nectar" ordered?

In [39]:
# your code goes here

## What was the most expensive item ordered?

In [40]:
# your code goes here

## Select the first 7 rows of the most expensive item ordered

In [41]:
# your code goes here

## Plot the item_name column histogram

In [51]:
%matplotlib inline
# your code goes here

## Count the number of missing values

In [44]:
# your code goes here

## Delete the rows that have NaN

In [43]:
# your code goes here